.info-1,
.info-2,
.info-3 {
  width: 30%;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 5px 5px 8px 5px goldenrod; /*special add by Goldstone, me;)*/
}

.info-1 {
  background-image: url(assets/task2-bg1.jpeg);
}
.info-2 {
  background-image: url(assets/task2-bg2.jpg);
}
.info-3 {
  background-image: url(assets/task2-bg.jpeg);
}
